*{
    margin:0;
    padding:0;
}

ul {
    list-style-type: none;
    display: inline-block;
    vertical-align: middle;
  }
  .menu li{
    display: inline;
    margin: 0 10px;
  }
  .info-perso li{
    display: inline;
    margin: 0 10px;
  }
  .info-perso{
    margin-top: 100px;
    margin-bottom:100px;
    margin-left: 50px;
  }

  #nom{
    font-family:fantasy;
    color: #333;
    font-size: 52px;
    font-weight: 800;
    margin-left: 75px;
    font-weight:lighter
  }
  #poste{
    font-size: 28px;
    font-weight: 100;
    margin-left: 80px;
    text-transform: uppercase;
    color: rgb(59, 59, 200);
  }
  #photo{
    display: inline-block;
    height: 200px;
    width: 200px;
    position: absolute;
    right: 40px;
    width: 300px;
    padding: 10px;*
  }
  
  .contact{
    margin-left: 79px;
    margin-top: 50px;
  }

.menu{
    margin: 0px;
    background-color: #333;
    padding: 20px;
    color: rgb(243, 237, 237);
    text-align: center;
}
.pied{
    background-color: #333;
    margin-top: 300px;
    padding: 40px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family:cursive;
    font-size: 30px;
}
.exp{
    margin: 50px;
}
.comp{
    margin: 50px;
}
.interet{
    margin: 50px;
}